/* fonts */ 
@font-face {
  font-family: 'gameover';
  src: url('../fonts/ka1.ttf');
  font-weight: normal;
  font-style: normal;
}
/* bootstrap styles overload */

.bg-dark, .table-bg  {
	background-color: #201505 !important;
}

.btn-secondary {
	color: #fff;
	background-color: #4e4b44;
	border-color: #626154;
}

.btn-secondary:hover {
	color: #fff;
	background-color: #68635a;
	border-color: #616254;
}
.btn-secondary:not(:disabled):not(.disabled).active, .btn-secondary:not(:disabled):not(.disabled):active, .show > .btn-secondary.dropdown-toggle {
	color: #fff;
	background-color: #5a564e;
	border-color: #616254;
}
.dropdown-item:focus, .dropdown-item:hover {
	color: #16181b;
	text-decoration: none;
	background-color: #35332e;
}

.table-hover tbody tr:hover{
	color: #d8910e;
}

.fixed-table-pagination {
	color: #d8910e;
}
/* LOADING PICTO */

@-webkit-keyframes rotating /* Safari and Chrome */ {
  from {
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
@keyframes rotating {
  from {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
  to {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}
.rotating {
  -webkit-animation: rotating 2s linear infinite;
  -moz-animation: rotating 2s linear infinite;
  -ms-animation: rotating 2s linear infinite;
  -o-animation: rotating 2s linear infinite;
  animation: rotating 2s linear infinite;
}

body {
  margin: 0;
  padding: 0;
  padding-top: 4rem;
  display: flex;
  justify-content: center;
  background-color: dimgrey;
}
#loader {
  width: 800px;
  height: 600px;
  background-color: #1a0d02;
  display: flex;
  justify-content: center;
  align-self: center;
}
#game-canvas {
  background-color: #1a0d02;
  display: flex;
  justify-content: center;
  align-self: center;
}
#loader-logo {
  height: 50px;
  width: auto;
  /* background-color: rgb(13, 39, 39); */
  align-self: center;
}
.registerBar {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row-reverse;
}

.row{
  background-color: gray;
  color:navajowhite;
}

.rowdarklight{
  background-color: rgb(58, 50, 35);
}

.rowhighlight{
  background-color: rgb(77, 66, 47);
}
.rowheader {
  background-color: rgb(31, 23, 2);
  color: rgb(248, 218, 141);
}
.t-go{
  font-family: 'gameover';
}