<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Planetary lander</title>
    <link rel="stylesheet" href="./css/styles.css">
    <link rel="shortcut icon" href="favicon.png" type="image/png" />

  </head>
  <body onload="init()">
    <!-- loader -->
    <div id="loader"><img id="loader-logo" class="rotating"src="./assets/iconkwa.png"></img></div>
    <!-- canvas -->
    <canvas id="game-canvas" width="800" height="600" style="display: none;"></canvas>

    <% if(env === 'dev'){ %>
      <%- include('../partials/libs-dev.ejs'); %>
    <% } else{ %>  
        <%- include('../partials/libs-prod.ejs'); %>
    <% } %>
    

    <script>
      var userToken;
        function init(){


            let s = State.getInstance(); 
            Tools.ajaxGet(`./data/main.json`, (mdata) => {
              let mData = JSON.parse(mdata);
              s.menuData = mData.menu;
              console.log(s)
              Tools.ajaxGet(`./data/${Tools.getHash()}.json`, (data) => {
                let d = JSON.parse(data);
                let main = new Main(d);
              });
            });
            // FOR DEBUG ONLY
            // TODO: swap level / reload terrain  
            
            // console.log(Tools.dataLoader.data);
            // Tools.dataLoader.add('main','./data/main.json');
            // // Tools.dataLoader.add('moon','./data/moon.json');
            // // // Tools.dataLoader.add('error','./data/thisfiledoesnotexist.json'); // error not found here
            // Tools.dataLoader.once((data)=>{
            //   console.log(data); // get the data
            //   console.log(Tools.dataLoader.data); // access direct to the data
            //   Tools.dataLoader.clean() // clean up 
            //   console.log(Tools.dataLoader.data); // empty data
            // })
            // Tools.dataLoader.load()

            
            // connection au profil uilisateur
            Tools.ajaxPost('./connect',{login:'<%= login %>', password:'1234'},(rep)=>{
              console.log(rep);
              // console.log(JSON.parse(rep));
              let userData = JSON.parse(rep);
              if(userData.error) {
                console.log(userData.error);
                return;
              };
              
              let progress = JSON.parse(userData.progress)
              s.user.login = userData.login
              s.user.progress = progress

              console.log(s.user)
              userToken =  s.user.token;
            })
            
        }
        window.onbeforeunload = function(){
          console.log('beforeonload?!');
          Tools.ajaxPost('./quit',{token:userToken},(rep)=>{
              console.log(rep);
              // console.log(JSON.parse(rep));              
            })
        }
    </script>
    
  </body>
</html>
